<div style="display: flex; justify-content: space-evenly;">
    <div>
        Welcome to the dashboard page;
    </div>
    <div>
        Hello {{loggedInUser}}
    </div>
    <div *ngIf="isLoggedIn" style="margin-left: 10px;">
        <button (click)="logout()">Logout</button>
    </div>
</div>

<!-- <div>
    <table>
        <thead>
          <tr>
            <th *ngFor="let column of taskList">{{ column }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of taskList">
            <td *ngFor="let column of taskList">{{ row[column] }}</td>
          </tr>
        </tbody>
      </table>
</div> -->

